* {
  margin: 0;
  padding: 0;
}

body {
  font-family: sans-serif;
}

.content {
  width: 650px;
  height: 400px;
  font-size: 70px;
  font-weight: bold;
  color: red;
  font-family: sans-serif;
  background-image: url(https://ireland.apollo.olxcdn.com/v1/files/r1bs7xtaf7d41-UA/image);
  background-size: cover;
  margin: 50px auto;
  border: 10px solid black;
  border-radius: 10px;
  box-shadow: 3px 3px 5px black;
}

.text {
  text-align: center;
  display: inline-block;
  background-color: black;
  width: 100px;
  border-bottom-right-radius: 10px;
}

/* =============== */
.container {
  max-width: 1280px;
  margin: 0 auto;
}
.balance {
  margin: 40px 0;
  text-align: center;
  font-size: 50px;
}

.balance > span {
  color: green;
}
.dollar-sign::after {
  content: "\0024";
}

.cars-container {
  margin-top: 100px;
  display: flex;
  flex-direction: column;
  gap: 50px;
  margin-bottom: 100px;
  padding: 0 50px;
}

.car-item {
  padding: 30px 20px;
  border-radius: 10px;
  display: flex;
  justify-content: space-between;
  box-shadow: 3px 3px 6px black;
  position: relative;
}

.car-item img {
  width: 380px;
}

.rigth-side {
  text-align: right;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-price {
  margin-bottom: 8px;
  font-size: 30px;
}

.car-bet {
  font-size: 23px;
}
.car-name {
  font-size: 30px;
}

.car-bet-button {
  margin-top: 40px;
  border: none;
  font-size: 40px;
  background-color: #fff;
  padding: 10px 15px;
  box-shadow: 3px 3px 6px green;
  border-radius: 10px;
  transition: 0.5s;
  cursor: pointer;
}

.car-bet-button:hover {
  font-size: 45px;
}

.count-down-time {
  font-weight: bold;
  position: absolute;
  font-size: 30px;
  width: 30%;
  text-align: center;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
