/* .main-text {
  background-color: black;
  color: lime;
  font-size: 50px;
  font-family: sans-serif;
  padding: 10px;
  border-radius: 10px;
} */

.counter-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  font-size: 60px;
}

.button {
  font-size: 40px;
  background-color: #fff;
  color: #fff;
  border: 2px solid black;
  padding: 15px 30px;
  border-radius: 15px;
}

.increment {
  background-color: green;
}

.decrement {
  background-color: red;
}
