.container {
  max-width: 1280px;
  margin: 0 auto;
}

.button-container {
  text-align: center;
  margin-top: 50px;
}

.add-car-btn {
  font-size: 50px;
  font-family: sans-serif;
  padding: 15px 20px;
  background-color: rgb(33, 111, 89);
  color: white;
  border: 0;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  border-radius: 15px;
  cursor: pointer;
}

.add-car-form {
  background-color: #fff;
  display: flex;
  flex-direction: column;
  gap: 35px;
  padding: 150px 100px;
  border-radius: 15px;
}

.add-car-form > * {
  font-size: 50px;
}
.add-car-form > input.incorrect {
  border-color: red;
}

.cars-container {
  display: flex;
  justify-content: center;
  gap: 50px;
  flex-wrap: wrap;
  padding: 0 30px;
  margin-top: 50px;
  margin-bottom: 100px;
}

.car-card {
  width: 30%;
  border-radius: 15px;
  text-align: center;
  font-family: sans-serif;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  position: relative;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.car-card > img {
  width: 100%;
  height: 200px;
  object-fit: cover;
  border-top-right-radius: 15px;
  border-top-left-radius: 15px;
}
.car-card-titles > h2 {
  margin-top: 30px;
  padding-top: 15px;
  position: relative;
}
.car-card-titles > h2::before {
  content: "";
  position: absolute;
  width: 70%;
  height: 3px;
  border-radius: 20px;
  background-color: transparent;
  box-shadow: 3px 2px 5px rgb(33, 111, 89);
  top: -10px;
  left: 0;
}

.delete-car {
  background-color: rgb(240, 77, 77);
  border: none;
  padding: 20px 0;
  font-size: 20px;
  color: #fff;
  /* border-top-left-radius: 15px;
  border-top-right-radius: 15px; */
  cursor: pointer;
}

#msg {
  text-align: center;
  font-size: 40px;
  font-family: sans-serif;
}

.edit-car {
  background-color: rgb(70, 161, 240);
  border: none;
  padding: 20px 0;
  font-size: 20px;
  color: #fff;
  border-bottom-left-radius: 15px;
  border-bottom-right-radius: 15px;
  cursor: pointer;
}
